version: '3.9'
name: 'event_dev'

services:
  redis:
    image: redis:7-alpine
    command: redis-server
    expose:
      - "6379"
    volumes:
      - redis_value:/data

  postgres:
    image: postgres:14
    volumes:
      - postgres_value:/var/lib/postgresql/data
    env_file:
      - ./.env
    expose:
      - "${POSTGRES_PORT}:5432"
    depends_on:
      - redis

  backend:
    image: standup1990/event:latest
    restart: always
    env_file:
      - ./.env
    volumes:
      - static_value:/event_app/static/
      - media_value:/event_app/media/
    ports:
      - "8000:8000"
    depends_on:
      - postgres

  nginx:
    image: nginx:1.21.3-alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - static_value:/var/html/static/
      - media_value:/var/html/media/
    depends_on:
      - backend
    command: sh -c "sleep 10 && nginx -g 'daemon off;'"

volumes:
  postgres_value:
  redis_value:
  static_value:
  media_value:
